.calc{
    width: 400px;
    height: 600px;
    background: rgb(46, 21, 21);
    margin-left: 300px; 
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 100px;
}
#screen{
width: 80%;
height: 40px;
margin-top: 30px;
margin-left :36px;
pointer-events: none;

}
.btn{
    width: 60px;
     height: 58px;
     margin-top: 30px;
     margin-left :29px;
}